.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#topMenu {

}

#topMenuText{

}

#background {
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#mainCont1 {

}

#mainCont2 {

}

#mainCont3 {

}
