.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#topMenu {

}

#topMenuText{

}

#imgBG {
  width: 100%;
  height: auto;
}

#mainCont1 {

}

#mainCont2 {

}

#mainCont3 {

}
